body {
    margin: 0;
    font-family: helvetica, sans-serif;
    padding: 4em;
  }

header {
    font-size: 1.2em;
    font-weight: bold;
}

.lg-header {
    font-size: 2em;
}


#navbar {
    position: sticky;
    float: left;
    top: 0;
    width: 20%;
}

#main-doc {
    width: 75%;
    margin-left: 25%;
    
    
}

.nav-li {
    border: 2px black solid;
    list-style: none;
    margin-bottom: .3em;
    padding: 1em;
}

.nav-ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

code {
    display: block;
    margin: 1.5em;
    
    padding: 1em;
    background: black;
    color: white;
}



